*{
	margin: 0;
	padding: 0;
}


.mainTable{
	text-align: center;
	margin-top: 10px;
}
#table{
	margin: 5px auto;
}

table{
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}
.updateBtn{
	text-align: center;
}
.updateBtn button{
	background-color: red;
	padding: 5px 10px;
	border: 1px solid black;
	color: white;
	margin: 10px 0;
	border-radius: 5px;
}
.updateBtn button:hover{
	background: lightgray;
	color: black;
	transition: .5s;
}
.editTable{
	padding-top: 20px;
	width: 30%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.editRowBtn{
	background-color: #0DC143;
	color: white;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
.editRowBtn:hover{
	background-color: lightgray;
	color: black;
	transition: .5s;
}