#maintext{
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    
}